.formContent{
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    margin-top: calc(0px - 1.5rem - 6px);
}

.input {
    width: 40rem;
    height: 3.25rem;
    border-radius: 8px;
    background: var(--gray-400);
    color: var(--gray-100);
    padding: 1rem 1rem;
    border: 1px ;
}

.createButton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: 0;

    width: 7rem;
    height: 3.25rem;
    padding: 0.5rem;

    cursor: pointer;
    transition: 0.2s;
}

.createButton:hover{
    background: var(--blue);
}

.input:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--purple);
}