.postsContent{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--gray-300);
    color: var(--gray-100);
    border-radius: 8px;

    height: 4.5rem;

    padding: 1rem;
}
.postsContent button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    display: flex;
    align-items: center;

    border-radius: 2px;
}

.postsContent button:hover{
    color: var(--danger);
}