.tasksHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 4rem;
    width: 46rem;
}

.tasksCreated strong{
    margin-right: 0.75rem;
    color: var(--purple);
} 

.tasksCreated span {
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 45%;
    box-shadow: 2px 2px 1px 0px var(--gray-700);
} 

.tasksFinished strong{
    margin-right: 0.75rem;
    color: var(--purple);
}

.tasksFinished span {
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 45%;
    box-shadow: 2px 2px 1px 0px var(--gray-700);
}

hr {
    margin-top: 2rem;
    color: var(--gray-400);
    border-top: 0.5px;
    border-radius: 80%;
}

.tasksContent{
    width: 46rem;

    display: flex;
    flex-direction: column;
}

